#### 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [2]:
import pandas as pd
a = [1,2,3,4,5]
s = pd.Series(a)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### 2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [5]:
s = pd.Series([1,2,3,4,5])
a = list(s)
print(a)
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>

#### 3. Write a Pandas program to compare the elements of the two Pandas Series.

In [20]:
s = pd.Series([1,2,3,4,5])
s1 = pd.Series([1,3,4,5,6])
print(s1 == s)

0     True
1    False
2    False
3    False
4    False
dtype: bool

#### 4. Write a Pandas program to change the data type of given a column or a Series.

In [7]:
s = pd.Series([1,2,3,4,5])
s = s.astype('float')
print(s)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

#### 5. Write a Pandas program to get the first 3 rows of a given DataFrame. Sample Python dictionary data and list labels:
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    
#### Expected Output:
    First three rows of the data frame:
    attempts name qualify score
    a 1 Anastasia yes 12.5
    b 3 Dima no 9.0
    c 2 Katherine yes 16.5

In [31]:
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
res = pd.DataFrame(exam_data , index=labels)
print(res)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

#### 6. Write a Pandas program to display the default index and set a column as an Index in a given dataframe.
![image.png](attachment:image.png)

In [16]:
# image is not loading.
import pandas as pd
data = {'num':[1,2,3,4,5] , 'names' : ["ah" , "mo" , "sa" , "al" , "ba"]}
df = pd.DataFrame(data)
print("default index is \n" , df.index)
print("The data is: \n",df)
print("New Data with index names: \n", df.set_index('names'))

default index is
 RangeIndex(start=0, stop=5, step=1)
The data is:
    num names
0    1    ah
1    2    mo
2    3    sa
3    4    al
4    5    ba
New Data with index names:
        num
names
ah       1
mo       2
sa       3
al       4
ba       5

#### 7. Write a Pandas program to display the default index and set a column as an Index in a given dataframe and then reset the index
![image.png](attachment:image.png)

In [17]:
# image is not loading.
import pandas as pd
data = {'num':[1,2,3,4,5] , 'names' : ["ah" , "mo" , "sa" , "al" , "ba"]}
df = pd.DataFrame(data)
print("default index is \n" , df.index)
print("The data is: \n",df)
print("New Data with index names: \n", df.set_index('names'))
print("The Data with the default index reset: \n ", df.reset_index )

default index is
 RangeIndex(start=0, stop=5, step=1)
The data is:
    num names
0    1    ah
1    2    mo
2    3    sa
3    4    al
4    5    ba
New Data with index names:
        num
names
ah       1
mo       2
sa       3
al       4
ba       5
The Data with the default index reset:
  <bound method DataFrame.reset_index of    num names
0    1    ah
1    2    mo
2    3    sa
3    4    al
4    5    ba>

#### 8. Write a Pandas program to create a dataframe indexing by date and time.

In [26]:
from datetime import datetime
data = [1,2,3,4,5,6]
dt = pd.date_range(start='2024-01-01', periods=6, freq = "H")
d = pd.DataFrame(data, index=dt)
print(d)

                     0
2024-01-01 00:00:00  1
2024-01-01 01:00:00  2
2024-01-01 02:00:00  3
2024-01-01 03:00:00  4
2024-01-01 04:00:00  5
2024-01-01 05:00:00  6

#### 9. Write a Pandas program to create a dataframe and set a title or name of the index column.

In [27]:
data = [1,2,3,4,5]
names = ["ah" , "mo" , "sa" , "al" , "ba"]
d = pd.DataFrame(data, index=names)
print(d)

    0
ah  1
mo  2
sa  3
al  4
ba  5

#### 10. Write a Pandas program to select a specific row of given series/dataframe by integer index.

In [13]:
import pandas as pd

x = ["ah" , "mo" , "sa" , "al" , "ba"]
xx = pd.DataFrame(x)
print(xx)
print(xx.iat[1,0])

    0
0  ah
1  mo
2  sa
3  al
4  ba
mo